name: 연습

on:
  push:
    branches: 
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: 저장소 확인
        uses: actions/checkout@v3
        with:
          python-version: "3.14"

      - name: Install dependencies
        run: |
          pip install --upgrade pip

      - name: Run python
        run: python app.py